@font-face {
    font-family:'BebasNeue';
  
      src: local('BebasNeue') , url('../../Fonts/BebasNeue-Regular.ttf') format('truetype');
    
  }
  
  body{
    font-family: 'BebasNeue'!important;
    --main-color : #f6b846;
    --icon-color : rgba(255, 255, 255, 0.85);
    --background : #222
  }
a{
    text-decoration: none!important;
}
.sidebar{
    background-color: var(--background);
    display: inline-block;
    font-size: 14px!important;
    border-radius: 5px;
    position: fixed;
    padding: 10px 0px;
    top: 20vh;
    left: 15vh;
}
.menuTitle{
   
    color: var(--icon-color);

    text-align: center;
    padding: 10px 16px;
    position: relative;
}
.lastMenuTitle:active , .lastMenuTitle:hover ,
.menuTitle:active, .menuTitle:hover{
    color: var(--main-color);
}
.lastMenuTitle{
    color: var(--icon-color);
    text-align: center;
    padding: 10px 16px;
    position: relative;
}
span{
    display: block;
}

.menuTitle::after{
    content: '';
    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(48,49,50,1) 100%);
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0
}