.About {
  position: relative;
  border-radius: 4px;
  background-color: var(--background);
  width: 100%;
  display: inline-block;
  padding: 20px 20px;
  top: 12vh;
  overflow-y: auto;
  height: 79vh;
  -webkit-transition: visibility 1s linear, opacity 0s linear;
  -o-transition: visibility 1s linear, opacity 0s linear;
}
@media screen and (max-width: 576px) {
  .About {
    width: 100%;
    top: 2vh;
    height: auto;
    margin-bottom: 3vh;
  }
}
.About .mySkilss {
  display: inline-block;
  margin: 80px 0 0;
}
.About .mySkilss img {
  width: 30%;
}
.About .mySkilss h3 {
  color: var(--icon-color);
  font-weight: 100;
  font-size: 20px;
  margin-top: 1vh;
}
.About p {
  display: inline-block;
  padding-top: 70px;
  text-align: right;
  font-size: 16px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.43);
  line-height: 27px;
  direction: rtl;
  color: rgba(255, 255, 255, 0.62);
  text-align: justify;
}
.About .aboutTitle {
  position: relative;
}
.About .aboutTitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.About h2 {
  position: absolute;
  color: var(--icon-color);
  font-weight: 100;
  font-size: 26px;
}
.About h2:nth-child(2) {
  right: 0;
}
.About section {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 16px;
}
.About section .aboutSec1 {
  width: 50%;
  text-align: right;
  direction: rtl;
  word-spacing: 5px;
}
.About section .aboutSec1 p {
  padding: 0;
}
.About section .aboutSec1 span {
  display: inline-block;
  color: var(--icon-color);
  padding-left: 10px;
}
.About .knowledge {
  padding: 25px 5px 25px 15px;
}
.About .knowledge .mySkilss p {
  padding: 0px 0px;
  text-align: left;
  margin: 0;
}
.About .qualibox {
  position: relative;
  direction: rtl;
  top: 6rem;
  margin-bottom: 8rem;
}
.About .qualibox .qualiDetail {
  display: inline-block;
  margin-right: 20px;
}
.About .qualibox h3 {
  font-size: 20px;
}
.About .qualibox h3,
.About .qualibox h4 {
  color: var(--icon-color);
  margin: 0;
  margin: 10px 0;
}
.About .qualibox h4 {
  color: rgba(255, 255, 255, 0.43);
  font-size: 18px;
}
.About .qualibox span {
  color: var(--main-color);
  border: 1px var(--main-color) solid;
  display: inline-block;
  padding: 3px;
  font-size: 12px;
}
.About .qualibox .qualiIcon {
  font-size: 45px;
  border: 2px var(--main-color) solid;
  border-radius: 50%;
  padding: 9px;
  color: var(--main-color);
  position: relative;
  top: -25px;
}

@media screen and (max-width: 576px) {
  .mySkilss {
    position: relative;
    text-align: center;
    margin: 10vh auto 0;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mySkilss h3 {
    width: 100%;
    font-size: 24px !important;
  }
  .mySkilss p {
    font-size: 18px !important;
    direction: ltr;
  }
}
.mySkilss:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
  bottom: -6.5vh;
  height: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #565656;
  border-radius: 10px;
  height: 5px;
  width: 10px;
}/*# sourceMappingURL=About.css.map */