.swiperSlider img{
    width: 100%;
}
.swiperSlider{
    z-index: 1;
    position: relative;
}
.swiperSlider::after{
    content: '';
    position: absolute;
    background-color: var(--background);
    left: -20px;
    bottom: 0;
    right: -20px;
    width: auto;
    height: 100px;
    transform: none;
    -webkit-transform: none;
    border-radius: 100% 100% 0 0;
    z-index: 10;
}