.imageLogo{
    position: relative;
    left: 0;
    top: -15vh;
    z-index: 88;
}

.imageLogo::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 10vw;
    width: 36%;
    height: 100%;
    background: linear-gradient(135deg,rgba(246,184,70,.4) 0%,rgba(246,184,70,.01) 100%);
    border-radius: 100%; 
}

.imageLogo img{
    position: relative;
    display: block;
    width: 35%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #fff;
}