.Profile {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  height: auto;
  background: var(--background);
  text-align: center;
  z-index: 10;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  top: 10vh;
  -webkit-box-shadow: 0px 0px 17px -4px #000000;
  box-shadow: 0px 0px 17px -4px #000000;
}
.Profile h2 {
  position: absolute;
  bottom: 9rem;
  text-align: center;
  left: 0;
  right: 0;
  color: white;
  font-weight: 300;
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .Profile{
    display: block;
    width: auto;
    position: relative;
    overflow: hidden;
    height: auto;
    background: var(--background);
    text-align: center;
    z-index: 10;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    top: auto;
    box-shadow: 0px 0px 17px -4px #000000;
  }
  .Profile h2{
    z-index: 20;
  }
}