@font-face {
  font-family:'BebasNeue';

    src: local('BebasNeue') , url('./Fonts/BebasNeue-Regular.ttf') format('truetype');
  
}

body{
  font-family: 'BebasNeue';

  --main-color : #f6b846;
  --icon-color : rgba(255, 255, 255, 0.85);
  --background : #222;
  overflow: auto;
  
}
a{
  text-decoration: none;
}

.resPad{
  padding: 0!important;
}
@media screen and (max-width: 576px) {
  .app{
    overflow: auto;
  }
}